body {
  padding-top: 90px; 
  background: #f5f7fb;
}

.automation-section {
  padding: 80px 0;
  background: #ffffff;
}

.automation-card {
  background: #b18787;
  border-radius: 6px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90px;
}

.automation-card img {
  width: 40px;
  height: auto;
}

.automation-card span {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.center-card {
  width: 50%;
}
.automation-card:hover {
  background: #e9e9e9;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .center-card {
    width: 100%;
  }
}
