body {
  padding-top: 90px;
  background: #f5f7fb;
}


.management-section {
  padding: 60px 0;
}


.management-img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 18px;
}


.management-card {
  background: #1f5faa;
  color: #fff;
  border-radius: 18px;
  padding: 40px;
  height: 520px;
  overflow: hidden;
  position: relative;
}


.slide-box {
  height: 300px;
  overflow: hidden;
  position: relative;
}


.slide-content {
  position: absolute;
  top: 0;
  animation: slideUp 30s linear infinite;
  
}

@keyframes slideUp {
  0%   { transform: translateY(0); }
  45%  { transform: translateY(-50%); }
  90%  { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

/* TEXT */
.management-card h2 {
  font-weight: 700;
}
.management-card h6 {
  opacity: 0.9;
}
.management-card p {
  font-size: 15px;
  line-height: 1.7;
}

.slide-box:hover .slide-content {
  animation-play-state: paused;
}
